Repository jacksonporter/wg-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, pytest, flake8, hadolint, shellcheck

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

pytest:
  name: pytest
  entry: pytest
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

hadolint:
  name: hadolint
  entry: hadolint
  language: system

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

getting base commands working
  .mypy.ini
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  wg_gateway/api/__init__.py
  wg_gateway/api/cli_command.py
  wg_gateway/app.py
  wg_gateway/cli/__init__.py
  wg_gateway/cli/cli_command.py
Due: pylint, mypy, pytest, flake8

wip
  Containerfile.ddbadmin
  container-compose.yaml
  poetry.lock
  pyproject.toml
Due: none

Keep going
  .vscode/launch.json
  Containerfile
  poetry.lock
  pyproject.toml
  wg_gateway/__init__.py
  wg_gateway/api/app.py
  wg_gateway/api/cli_command.py
  wg_gateway/app.py
  wg_gateway/cli/cli_command.py
  wg_gateway/cli/db/__init__.py
  wg_gateway/cli/db/bootstrap.py
  wg_gateway/cli/db/cli_command.py
  wg_gateway/db/__init__.py
  wg_gateway/db/config.py
  wg_gateway/db/database.py
  wg_gateway/db/dynamodb/__init__.py
Due: pylint, mypy, pytest, flake8, hadolint

test
  .github/workflows/audit.yaml
Due: none

test
  .github/workflows/audit.yaml
  .python-version
Due: none

test
  .python-version
Due: none

Init
  .editorconfig
  .flake8
  .github/workflows/audit.yaml
  .mypy.ini
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  Brewfile
  CODEOWNERS
  helm/charts/wg-gateway/Chart.yaml
  images/logo-with-background.png
  poetry.lock
  poetry.toml
  pyproject.toml
  tests/__init__.py
  tests/unit/__init__.py
  wg_gateway/__init__.py
Due: pylint, mypy, pytest, flake8

more hooks, testing
  .github/workflows/audit.yaml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: none

more hooks and cleaning up
  .github/workflows/audit.yaml
  .pre-commit-config.yaml
  .pylintrc
  .vscode/settings.json
  tests/dummy_test.py
Due: pylint, mypy, pytest, flake8

more hooks and testing
  .github/workflows/audit.yaml
  .pre-commit-config.yaml
Due: none

fix
  .github/workflows/audit.yaml
Due: none

wip
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  tests/dummy_test.py
Due: pylint, mypy, pytest, flake8

wip
  .github/workflows/audit.yaml
Due: none

removing ruff cache
  .gitignore
Due: none

test
  .github/workflows/audit.yaml
  tests/unit/dummy_test.py
Due: pylint, mypy, pytest, flake8

test
  .envrc
  .pre-commit-config.yaml
  Brewfile
Due: shellcheck

wip
  .gitignore
  .pre-commit-config.yaml
  .vscode/launch.json
  bandit.yaml
  poetry.lock
  pyproject.toml
  tests/unit/lib/__init__.py
  tests/unit/lib/exe_test.py
  wg_gateway/__main__.py
  wg_gateway/api/__init__.py
  wg_gateway/cli/__init__.py
  wg_gateway/entrypoint.py
  wg_gateway/lib/__init__.py
  wg_gateway/lib/exe.py
  wg_gateway/ui/__init__.py
Due: pylint, mypy, pytest, flake8

wip
  .github/workflows/audit.yaml
  .nicegui/storage-user-21847caf-a932-41bc-ac16-7c3f47062c6c.json
  poetry.lock
  pyproject.toml
  wg_gateway/api/__init__.py
  wg_gateway/ui/__init__.py
Due: pylint, mypy, pytest, flake8

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  flake8: any of: \.py$
  hadolint: any of: ^(Containerfile|\.containerignore)$
  shellcheck: any of: ^.*\.(sh|bash|zsh|envrc)$
